
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- jquery3  -->
    <title>罗盘时钟 - 道教之家 - 道教新媒体平台</title>
    <meta name="keywords" content="道教,道学,道家,云道商,云道家,云道乐,云道航,云搜道,云之道,伍林堂,道教IT,道教技术,中网道研,道教互联网,道教大数据,道教研究,道教研究中心,伍林堂工作室,云之道数据,道教网站建设,道教网站开发,道教网站设计,道教网站管理,道教管理系统,道教网站源码">
    <meta name="description" content="道教自媒体平台-道教门户网站-道教之家，是由南通伍林堂文化传播有限公司发起的道教文化推广传媒，主旨为：关注道教互联网建设，领军道教IT业发展。是道教较为知名的门户网站，道教自媒体平台。简称：云道家，易名：道教之家。">
    <script src="/js/jquery.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link href="https://cdn.wulintang.cn/ziti/font.css" rel="preload stylesheet" type="text/css">
<link href="https://cdn.wulintang.cn/ziti/icon/iconfont.css" rel="preload stylesheet" type=text/css>
<link href="https://cdn.wulintang.cn/taiji/taiji.css" rel="stylesheet" type=text/css>    
<link rel="stylesheet" href="https://cdn.wulintang.cn/daohang/html/css/fixed.css" type="text/css" media="all">
<script type=text/javascript src=https://cdn.wulintang.cn/daohang/html/js/jquery.cookie.js charset=UTF-8></script>
<script type=text/javascript src=https://cdn.wulintang.cn/daohang/html/js/jquery.fixed.js charset=UTF-8></script>
<script type=text/javascript src=https://cdn.wulintang.cn/daohang/html/js/init.fixed.js charset=UTF-8></script> 
    <link rel="stylesheet" href="css/ceshi9_1.css" />
    <link rel="stylesheet" href="css/ceshi9_2.css" />
    <link rel="stylesheet" href="css/ceshi9_3.css" />
  </head>
  <body>
<script type=text/javascript src=https://cdn.wulintang.cn/taiji/taiji.js charset=UTF-8></script>
    <div id="sum">
      <!-- 节气信息 -->
      <div id="message">
        <ul>
          <li class="msgs" v-for="(item,index) in Arrays">{{item}}</li>
        </ul>
      </div>
      <!-- 遮罩 -->
      <li id="shade"></li>
      <!-- 秒 -->
      <div id="second">
        <ul>
          <li v-for="item in flag">
            {{item}}          </li>
        </ul>
      </div>
      <!-- 分 -->
      <div id="minute">
        <ul>
          <li v-for="item in flag_minute">
            {{item}}          </li>
        </ul>
      </div>
      <!-- 时 -->
      <div id="hour">
        <ul>
          <li v-for="item in flag_hour">
            {{item}}          </li>
        </ul>
      </div>
      <!-- 年 -->
      <div id="year">
        <ul>
          <li id="yearAll">天祈</li>
        </ul>
      </div>
      <!-- 月 -->
      <div id="mouth">
        <ul>
          <li v-for="item in flag_mouth">
            {{item.name}}          </li>
        </ul>
      </div>
      <!-- 节气 -->
      <div id="solar">
        <ul>
          <li
            v-for="(item,index) in flag_solar"
            :key="index"
            v-on:mouseover="showMsg(index)"
            v-on:mouseout="hideMsg()"
            class="mm"
          >
            {{item.name}}          </li>
        </ul>
      </div>
      <!-- 日 -->
      <div id="data">
        <ul>
          <li v-for="item in flag_data">
            {{item.name}}          </li>
        </ul>
      </div>
      <!-- 上下午 -->
      <div id="AP">
        <ul>
          <li v-for="item in flag_AP">
            {{item.name}}          </li>
        </ul>
      </div>
    </div>
  </body>
  <!-- vue引入 -->
  <script src="/js/vue.min.js"></script>
  <script src="js/ceshi9.js"></script>
</html>
